node_modules/
# 서울 전역 기초단위구 shapefile(33MB) - 역삼동 경계 추출에만 쓰였고 결과는 data/에 이미 저장됨
기초단위구_11_2025_2Q/
# 서울교통공사 역 이용안내도 원본(전체 8개 호선, 269장) - 지원 범위 안 3개 역만
# data/station_maps/에 골라서 커밋함, 나머지는 용량만 크고 안 쓰임
역이용안내도/
